<nz-table #basicTable nzTableLayout="fixed" [nzData]="list">
  <thead>
    <tr>
      <th>شماره فاکتور</th>
      <th>فروشنده</th>
      <th>مبلغ کل فاکتور</th>
      <th>تاریخ ثبت   </th>
      <th>تاریخ پرداخت   </th>
      <th>وضعیت   </th>
      <th>عملیات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.Id}}</td>
      <td>{{data.VendorTitle}}</td>
      <td>{{data.c | number}}</td>
      <td>{{data.Create }}</td>
      <td> </td>
      <td>{{data.Status}}</td>
      <td>
        <button class="btn sout">مشاهده فاکتور</button>
      </td>
    </tr>
  </tbody>
</nz-table>
