<div nz-row nzJustify="center">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
    <div nz-row>

      <div nz-col [nzXs]="12">
        <div class="glass">
          <div style="text-align:right;padding-right:20px;font-size:large">
            پشتیبانی ها:
          </div>
          <div style="text-align: center; direction: initial">
            <span style="font-size:xx-large;direction:ltr">+</span>
            <span style="font-size:xx-large;direction:ltr" appCounter>310000</span>
          </div>
          <a style="float:left" class="btn din" target="_blank" href="/vendee/ticket"> تماس با پشتیبانی</a>
        </div>  
      </div>
      <div nz-col [nzXs]="12">
        <div class="glass">
          <div style="text-align:right;padding-right:20px;font-size:large">
            فاکتورهای موفق:
          </div>
          <div style="text-align: center; direction: initial">
            <span style="font-size:xx-large;direction:ltr">+</span>
            <span style="font-size:xx-large;direction:ltr" appCounter>310000</span>
          </div>
          <a style="float:left" class="btn din" target="_blank" href="/vendee/invoices"> مشاهده فاکتور </a>
        </div>
      </div>
      <div nz-col [nzXs]="12">
        <div class="glass">
          <div style="text-align:right;padding-right:20px;font-size:large">
            خریداران فعال:
          </div>
          <div style="text-align: center; direction: initial">
            <span style="font-size:xx-large;direction:ltr">+</span>
            <span style="font-size:xx-large;direction:ltr" appCounter>310000</span>
          </div>
          <a style="float:left" class="btn din" target="_blank" href="/login">ورود/ثبت نام </a>
        </div>
      </div>
      <div nz-col [nzXs]="12">
        <div class="glass">
          <div style="text-align:right;padding-right:20px;font-size:large">
            فروشندگان فعال:
          </div>
          <div style="text-align: center; direction: initial">
            <span style="font-size:xx-large;direction:ltr">+</span>
            <span style="font-size:xx-large;direction:ltr" appCounter>15000</span>
          </div>
          <a style="float:left" class="btn din" target="_blank" href="/register"> فروشنده شوید!</a>
        </div>
      </div>

    </div>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16">
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of [1,2,3]">
        <div style="margin:10px;height:285px" class="pbg"></div>
      </div>
    </nz-carousel>
  </div>
</div>

<div class="indextitles">   سبدبان چکونه کار میکند </div>
<div class="glass paras">
  <p>

    شیوع ویروس کرونا در سال 1398 پیامدهای گوناگونی داشت
    که یکی از مهم ترین پیامدهای آن گریبان کسب و کارهای سنتی ای را گرفت
    که سالیان سال به دور از هرگونه تکنولوژی تنها با روش فروش سنتی و حضوری کسب درآمد میکردند،
    در این میان تمایل افراد جامعه به خرید های غیر حضوری و آنلاین افزایش یافت.
    از اینرو، سرعت توسعه و تعداد وب سایت های فروشگاهی و خدمات آنلاین به طور چشمگیری افزایش داشت،

    اما همچنان نگرانی های خریداران محصولات و خدمات از امنیت و اطمینیان خرید
    وجود داشت
    و نیاز به یک مجموعه منسجم و قابل اطمینان جهت خرید های آنلاین بسیار محسوس بود،
    از این جهت برآن شدیم تا با یک تیم حرفه‌ای و با به کارگیری فناوری‌های روز درجهت حل این موضوع برآییم.
  </p>
  <p>
    <span class="pfg larger">
      "سبدبان"
    </span>
    یک سامانه هوشمند ثبت سفارشات خریدهای آنلاین است که خرید آنلاین را راحت تر و امن تر میکند.
    در این سامانه، هم
    خریدار
    و هم
    فروشنده
    میتوانند بر اساس شرایط و ضوابط از پیش تعیین شده،
    به راحتی و بدون دغدغه،
    نیاز های خود را از طریق سامانه سبد بان
    تامین کنند
    .
    در این سامانه، فروشنده ابتدا    یک فاکتور مجازی برای خریدار ایجاد میکند.
    سپس خریدار با وارد کردن آدرس فاکتور و یا با ورود به حساب کاربری خود، ضمن مشاهده فاکتور ایجاد شده و بررسی آن
    نسبت به پرداخت آن اقدام میکند.
    فروشنده در هنگام ایجاد فاکتور مشخص میکند نحوه پرداخت و ارسال کالا و خدمات چکونه است.
  </p>
</div>


<div class="indextitles">ویژگی های سبدبان</div>
<div nz-row nzJustify="center" class="">
  <div *ngFor="let i of Features" style="width:180px  ">
    <!--nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4"-->
    <div style="margin:10px;position:relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" style="width:auto">
        <g id="OBJECTS">
          <path style="fill: #1266f1 " d="M57.22,451A283.69,283.69,0,0,1,12.73,298.14c0-157.38,128-285.41,285.41-285.41s285.42,128,285.42,285.41A283.78,283.78,0,0,1,539.07,451l9.28,9.07a296.39,296.39,0,0,0,47.93-161.94C596.28,133.75,462.54,0,298.14,0S0,133.75,0,298.14a296.37,296.37,0,0,0,47.94,162Z" />
          <path style="fill: #1266f1 " d="M493.56,506a284.86,284.86,0,0,1-390.84,0q-10.81-1.6-21.43-3.43a297.67,297.67,0,0,0,433.7,0Q504.39,504.38,493.56,506Z" />
          <path style="fill: #1266f1 " d="M111.33,355.66A196,196,0,0,1,101.42,294c0-108.48,88.25-196.72,196.72-196.72S494.86,185.52,494.86,294A196,196,0,0,1,485,355.66l14.28-3.06a208.85,208.85,0,0,0,8.36-58.6c0-115.49-94-209.45-209.45-209.45S88.7,178.51,88.7,294a208.84,208.84,0,0,0,8.35,58.6Z" />
          <path style="fill: #7E57C2 " d="M171.68,406.07A849.53,849.53,0,0,1,55,389.76l37.16,52.71L55,478.81a851,851,0,0,0,116.73,16.32Z" />
          <path style="fill: #7E57C2 " d="M424.6,406.07a849.53,849.53,0,0,0,116.73-16.31l-37.16,52.71,37.16,36.34A851,851,0,0,1,424.6,495.13Z" />
          <polygon style="fill: #673AB7 " points="482.84 436.25 424.6 406.07 424.6 495.13 482.84 463.87 482.84 436.25" />
          <polygon style="fill: #673AB7 " points="113.45 463.87 171.69 495.13 171.69 406.07 113.45 436.25 113.45 463.87 113.45 463.87" />
          <path style="fill: #673AB7 " d="M482.84,463.87V374.82c-56.19,12-118.75,18.74-184.7,18.74s-128.51-6.71-184.69-18.74v89.05c56.19,12,118.74,18.75,184.69,18.75S426.65,475.9,482.84,463.87Z" />
          <text x="50%" y="450" fill="white" style="font-size:44px"
                dominant-baseline="middle" text-anchor="middle">
            {{i.Title}}
          </text>
          <svg class="dfill" width="250" height="250" x="175" y="125" viewBox="0 0 24 24" [innerHTML]="i.Icon">
          </svg>
        </g>
      </svg>
    </div>
  </div>
</div>





<div nz-row class="paras">
  <div nz-col [nzXs]="12">
    <div class="indextitles">    مزایای سبدبان برای  خریدارن</div>
    <div class="glass">
      <p>
        <span class="flex">
          <ul style=" list-style-type: none;flex:1 ">
            <li>
              <i [innerHtml]="icons.checkall"></i>
              مشاهده نحوه ارایه خدمات و فروش کالا
            </li>
            <li>
              <i [innerHtml]="icons.checkall"></i>تضمین دریافت کالا و خدمات
            </li>
            <li><i [innerHtml]="icons.checkall"></i>تضمین بازگشت وجه</li>
            <li><i [innerHtml]="icons.checkall"></i>پرداخت امن</li>
            <li><i [innerHtml]="icons.checkall"></i>تضمین محرمانگی اطلاعات</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده امتیاز فروشندگان</li>
            <li><i [innerHtml]="icons.checkall"></i>مقایسه فروشندگان</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاه</li>
          </ul>
          <img src="../../../assets/front/Asset 2.svg" style="width:200px" />
        </span>
      </p>
    </div>

  </div>
  <div nz-col [nzXs]="12">
    <div class="indextitles">    مزایای سبدبان برای  فروشندگان </div>
    <div class="glass">
      <p>
        <span class="flex">
          <ul style=" list-style-type: none;flex:1 ">
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاه انتخاب نحوه ارایه خدمات و فروش کالا</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاهپنل اختصاصی</li>
            <li>
              <i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاه
              صفحه مجازی اختصاصی              (در حال توسعه)
            </li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاهمدیریت فروش و حسابداری</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاهصدور فاکتور سفارشی</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاه                تسویه آنی درآمد              </li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاهپشتیبانی 24 ساعته هفت روز هفته</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاهامکان رقابت با سایر فروشندگان</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاه</li>
            <li><i [innerHtml]="icons.checkall"></i>مشاهده سوابق فروشگاه     </li>
          </ul>
          <img src="../../../assets/front/Asset 1.svg" style="width:200px"/>

        </span>
      </p>
    </div>
  </div>


</div>
<div nz-row class="paras">
  <div nz-col [nzXs]="12">
    <div class="indextitles">   ثبت نام خریدارن</div>
    <div class="glass">
      <p>

        از آنجاییکه حفظ محرمانگی اطلاعات کاربران، از اصول ماست، لذا برای پرداخت خدمت و یا کالای خریداری شده، کافیست شماره فاکتور و یا آدرس فاکتور ایجاد شده رو از فروشنده بخواهید.
        با وارد  کردن آدرس، فاکتور شما و درگاه پرداخت شما نمایش داده میشود، اما اگر قصد داشته باشید جزییات فاکتور و یا سابقه پرداخت خود را مشاهده کنید، میبایستی با وارد کردن
        شماره همراه معتبر خود، وارد سامانه شوید.
        در صورتی که به هر دلیلی، مبلغ پرداختی شما نیاز به بازگشت داشته باشد، برای بازگرداندن مبلغ واریز شده شما، نیاز داریم شماره شبا و کد ملی شما را مطابقت داده و پس از اطمینان از معتبر
        اطلاعات حساب و جلوگیری از خطای انسانی، مبلغ را عودت دهیم.
      </p>
    </div>
  </div>
  <div nz-col [nzXs]="12">
    <div class="indextitles">    ثبت نام فروشندگان </div>
    <div class="glass">
      <p>
        جهت اطمینان از ارایه اطلاعات صحیح، همچنین با توجه به قوانین و مقررات کشور، برای احراز هویت فروشندگان،
        نیاز به ارایه اطلاعات شناسنامه ای برای افراد حقیقی و اطلاعات شرکت برای فروشندگان حقوقی هستیم.
        برای دسترسی به پنل اختصاصی نیز، علاوه بر شماره تماس معتبر، نیاز به یک ایمیل برای ارسال موارد امنیتی و بازیابی گذرواژه داریم.
        در هنگام ثبت نام، از شما درخواست میشود در صورت نیاز آدرس ساید صفحات مجازی خود را وارد سامانه کنید تا علاوه بر اطلاعات فروشگاه شما، سایر صفحات فضای مجازی شما نیز در وب سایت و صفحه اختصاصی شما نمایش داده شود.
        ویرایش این موارد پس از ثبت نام نیز وجود دارد.
      </p>
    </div>
  </div>


</div>


 



<div nz-row>

  <div nz-col [nzXs]="12">
    <div class="indextitles">    ارزش های ما </div>
    <div class="glass">
    </div>
  </div>
  <div nz-col [nzXs]="8">
    <div class="indextitles">   تجارت الکترونیک و سهم ما  </div>
    <div class="glass"></div>
  </div>

  <div nz-col [nzXs]="8">
    <div class="indextitles">  ارزش های سازمان   </div>
    <div class="glass"></div>
  </div>
  <div nz-col [nzXs]="8">
    <div class="indextitles">    فرصت های شغلی </div>
    <div class="glass"></div>
  </div>
  <div nz-col [nzXs]="8">
    <div class="indextitles"> مشتریان ما</div>
    <div class="glass"></div>
  </div>
  <div nz-col [nzXs]="8">
    <div class="indextitles"> افتخارات  ما</div>
    <div class="glass"></div>
  </div>
  <div nz-col [nzXs]="8">
    <div class="indextitles"> تماس با  ما</div>
    <div class="glass"></div>
  </div>
</div>







<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" *ngFor="let i of [1,2,3,4,5,6]">
    <div class="glass">
      <img src="../../../assets/front/Asset 1.svg" />
      <span>امنیت</span>
    </div>

  </div>
</div>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" *ngFor="let i of [1,2,3,4,5,6]">
    <div class="glass">
      <img src="../../../assets/front/Asset 1.svg" />
      <span>امنیت</span>
    </div>

  </div>
</div>
<div class="glass">

  asdasd
</div>
