<div nz-row style="display:flex" >
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="16" [nzLg]="16" [nzXl]="18" [nzXXl]="18">
    <nz-carousel nzAutoPlay>
      <div  nz-carousel-content *ngFor="let index of [1,2,3]">
        <div  class="glass" style="margin-right:10px;margin-left:10px">
          <div>
            <img src="../../../assets/front/temp169.png" style="width:100%"/>
          </div>
        </div>
      </div>
    </nz-carousel>
  </div>
</div>

<div *ngFor="let i of ['#D81B60','#F50057','#C62828','#E53935']" style="width:100px;height:100px;background-color:{{i}}"></div>

<span style="font-size: x-large; color: #e13634;margin-right:100px">ویژگی های ما</span>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" *ngFor="let i of Features">
    <div style="margin:10px;position:relative">
      <img src="../../../assets/front/template.svg" />
      <span style="width: 100%; font-size: larger; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; " >{{i.Title}}</span>
    </div>

  </div>
</div>
<span style="font-size: x-large; color: #e13634;margin-right:100px"> مشتریان ما</span>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" *ngFor="let i of [1,2,3,4,5,6]">
    <div class="glass">
      <img src="../../../assets/front/Asset 1.svg" />
      <span>امنیت</span>
    </div>

  </div>
</div>
<span style="font-size: x-large; color: #e13634;margin-right:100px"> افتخارات  ما</span>
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="4" *ngFor="let i of [1,2,3,4,5,6]">
    <div class="glass">
      <img src="../../../assets/front/Asset 1.svg" />
      <span>امنیت</span>
    </div>

  </div>
</div>
<div class="glass">

  asdasd
</div>
