

<div>

</div>


<div nz-row style="display:flex" class="glass">
  <img nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="6" src="../../../assets/front/Asset 1.svg" />
  <img nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="6" src="../../../assets/front/Asset 2.svg" />
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="16" [nzLg]="16" [nzXl]="18" [nzXXl]="18">
    <nz-carousel nzAutoPlay>
      <div style="width:100%;height:100px;border:solid 3px red" nz-carousel-content *ngFor="let index of [1,2,3]">
        asd00000000000000000000000000000000000000000
      </div>
    </nz-carousel>
  </div>
</div>


<div class="glass">

  asdasd
</div>
