<ng-template #form let-item="item">
  <ng-container *ngTemplateOutlet="mainTemplate?.defaultIdStatusTitleForm;context:{item:item}"></ng-container>
  <form [nzLayout]="'horizontal'" nz-form [formGroup]="item">

    <div nz-row>
      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">  اعتبار سنج شبا  </nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
         <nz-form-item><nz-form-control nzErrorTip="  اعتبار سنج شبا   را وارد کنید">
          <input type="number" nz-input formControlName="ShebaValidator" />
         </nz-form-control></nz-form-item> 
      </div>


      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">  اعتبار سنج کارت  </nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
         <nz-form-item><nz-form-control nzErrorTip="  اعتبار سنج کارت   را وارد کنید">
          <input type="number" nz-input formControlName="CardValidator" />
         </nz-form-control></nz-form-item> 
      </div>


      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">  اعتبار سنج حساب  </nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
         <nz-form-item><nz-form-control nzErrorTip="  اعتبار سنج حساب   را وارد کنید">
          <input type="number" nz-input formControlName="AccountNumberValidator" />
         </nz-form-control></nz-form-item> 
      </div>

    </div>
  </form>
</ng-template>

<ng-template #viewMessage>
  آیدی
</ng-template>
<ng-template #search>

</ng-template>




<ng-template #tableBodyPicker let-item="item">

</ng-template>


<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Title}}</td>
  <td>{{ item.Create_}}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  <td>{{item.ShebaValidator}}</td>
  <td>{{item.CardValidator}}</td>
  <td>{{item.AccountNumberValidator}}</td>
</ng-template>





<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>

<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Title }}</td>
  <td>{{ item.Create_}}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
</ng-template>


