<nz-card>
  <div class="invoice" style="background-image:url('../../assets/invoice templates/001.jpg')">
    <div class="invoice-inner">
      <table class="invoice-header">
        <tbody>
          <tr>
            <td></td>
            <td>
              <h2>به نام خدا</h2>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              شماره فاکتور:
              <span class="highlight">
                1234654
                </span>
            </td>
            <td>
              فروشگاه
              <span class="highlight">{{ttt.Vendor.Title}} </span>
            </td>
            <td>
              تاریخ ثبت:
            </td>
          </tr>
          <tr>
            <td>
              <span>خریدار:</span>
            </td>
            <td></td>
            <td>تاریخ پرداخت:</td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
    <br />
    <div class="invoice-inner">


      <app-drag-and-drop-list [list]="ttt.InvoiceDetails"
                              [deleteEnabled]="false"
                              [footer]="footer"
                              [header]="header"
                              [body]="body">
        <ng-template #footer>
          <tr>
            <td colspan="3">جمع </td>
            <td>{{ttt.TotalDiscount}}</td>
            <td>{{ttt.TotalPrice}}</td>
          </tr>
          <tr>
            <td colspan="3">تخفیف روی کل فاکتور  </td>
            <td>{{ttt.Discount}}</td>
          </tr>
          <tr>
            <td colspan="4">قابل پرداخت </td>
            <td>{{ttt.TotalWithDiscount}}</td>
          </tr>
        </ng-template>

        <ng-template #header>
          <tr>
            <th>ردیف</th>
            <th> نام محصول</th>
            <th> تعداد و قیمت</th>
            <th>تخفیف کل </th>
            <th> قیمت کل</th>
          </tr>
        </ng-template>
        <ng-template #body let-item="item" let-index="index">
          <td>{{item.Id}}</td>
          <td>
            {{item.Title}}<br />
            {{item.Description}}
          </td>
          <td style="direction:ltr">
            {{item.Price|number:'3.'}}ریال x {{item.Count|number:'3.'}}

          </td>
          <td>
            {{item.Percentage | number:'1.0-2'}}درصد<br />
            {{item.Discount|number:'3.'}}ریال
          </td>
          <td>
            {{item.TotalPriceWithDiscount|number:'3.'}}
          </td>
        </ng-template>
      </app-drag-and-drop-list>
    </div>
  </div>
</nz-card>

<ng-template #form let-item="item">
  <ng-container *ngTemplateOutlet="mainTemplate?.defaultIdStatusForm;context:{item:item}"></ng-container>
  <form [nzLayout]="'horizontal'" nz-form [formGroup]="item">

    <div nz-row>
      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">      فروشنده  </nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="6" [nzMd]="3">
        <nz-form-item>
          <nz-form-control nzErrorTip=" فروشنده را وارد نمایید">
            <nz-tag [nzColor]="'#f50'" nz-tooltip nzTooltipTitle="شناسه فروشگاه">{{item.controls['VendorId'].value}}</nz-tag>
            {{item.controls['VendorTitle'].value}}
            <button *ngIf="!item.controls['Id'].value" nz-button nzType="dashed" nzDanger (click)="selectVendorModal = true">
              انتخاب
              <i nz-icon [innerHtml]="icons['plus-thick']"></i>
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">    خریدار  </nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="6" [nzMd]="3">
        <nz-form-item>
          <nz-form-control nzErrorTip="خریدار را وارد نمایید ">
            <nz-tag [nzColor]="'#f50'" nz-tooltip nzTooltipTitle="شناسه خریدار">{{item.controls['VendeeId'].value}}</nz-tag>
            {{item.controls['FirstNameLastName'].value}}
            <button *ngIf="!item.controls['Id'].value" nz-button nzType="dashed" nzDanger>
              انتخاب
              <i nz-icon [innerHtml]="icons['plus-thick']"></i>
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">    جزییات فاکتور  </nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="21">
        <!--<app-drag-and-drop-list [list]="item.controls['InvoiceDetails'].value"
                                [header]="header"
                                [body]="body">
          <ng-template #header>
            <th>
              عنوان
            </th>
          </ng-template>
          <ng-template #body let-item="item">
            <td>{{item.title}}</td>
          </ng-template>
        </app-drag-and-drop-list>-->
      </div>









    </div>
  </form>
</ng-template>


<ng-template #viewMessage>
  آیدی
</ng-template>
<ng-template #search>

</ng-template>




<ng-template #tableBodyPicker let-item="item">

</ng-template>


<ng-template #tableBody let-item="item">
  <td>{{ item.Id }}</td>
  <td>{{ item.Create_}}</td>
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  <td>
    <nz-tag [nzColor]="'#f50'" nz-tooltip nzTooltipTitle="شناسه خریدار">{{item.VendeeId}}</nz-tag>
    {{item.Vendee.FirstName + " " +item.Vendee.LastName  }}
  </td>
  <td>
    <nz-tag [nzColor]="'#f50'" nz-tooltip nzTooltipTitle="شناسه فروشگاه">{{item.VendorId}}</nz-tag>
    {{item.Vendor .Title}}
  </td>
  <td>{{item.FinalPrice}}</td>
</ng-template>






<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>

<ng-container *ngIf="mainTemplate">
  <nz-modal [nzWidth]="'80%'" [(nzVisible)]="selectVendorModal" [nzFooter]="mainTemplate.modalEmptyFooter" nzTitle="افزودن  لیبل" (nzOnCancel)="selectVendorModal = false">
    <ng-container *nzModalContent>
      <app-vendor (select)="vendorModalSelected($event)"></app-vendor>
      <button style="float:left" nz-button nzType="primary" (click)=" selectVendorModal = false">تایید </button>
    </ng-container>
  </nz-modal>
</ng-container>
