@import "../node_modules/ng-zorro-antd/style/index.min.css";
@import "../node_modules/ng-zorro-antd/grid/style/index.min.css";
@import "../node_modules/ng-zorro-antd/carousel/style/index.min.css";
@import "../node_modules/ng-zorro-antd/spin/style/index.min.css";
@import "../node_modules/ng-zorro-antd/table/style/index.min.css";
@import "../node_modules/ng-zorro-antd/notification/style/index.min.css";

html {
  direction: rtl;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('assets/bg.jpg');
}

/*#d58c04*/
$warning-color: #FFA900;
$danger-color: #F51720;
$success-color: #2f832f;
$info-color: #1E88E5;
$primary-color: #1266F1;
$secondary-color: #673AB7;
$black-color: #262626;
$white-color: #FBFBFB;


$colors: w warning $warning-color, d danger $danger-color, s success $success-color, i info $info-color, p primary $primary-color, se secondary $secondary-color, b black $black-color, wh white $white-color;
$delay: 200ms;


.btn {
  display: inline-flex;
  min-width: 80px;
  color: black;
  border: none;
  padding: 3px 8px;
  margin: 0 5px;
  background-color: transparent;
  -webkit-transition: background $delay ease-out;
  -moz-transition: background $delay ease-out;
  -o-transition: background $delay ease-out;
  transition: background $delay ease-out;
  -webkit-transition: border $delay ease-out;
  -moz-transition: border $delay ease-out;
  -o-transition: border $delay ease-out;
  transition: border $delay ease-out;
  -webkit-transition: color $delay ease-out;
  -moz-transition: color $delay ease-out;
  -o-transition: color $delay ease-out;
  transition: color $delay ease-out;
  -webkit-transition: fill $delay ease-out;
  -moz-transition: fill $delay ease-out;
  -o-transition: fill $delay ease-out;
  transition: fill $delay ease-out;
}

.btn:hover {
  background-color: rgba( #bfbcbc,0.8);
  cursor: pointer;
}

.btn.small {
  font-size: x-small;
}

svg {
  width: 24px;
}

.btn svg, .btn i {
  width: 24px;
}

.btn::before,
.btn::after {
  content: '';
  flex: 1 0 auto;
}


@each $i in $colors {
  $keyshort: nth($i, 1);
  $key: nth($i,2);
  $value: nth($i, 3);
  /*buttons*/
  .#{$keyshort}out {
    border: 1px $value solid;
  }

  .#{$keyshort}out i, .#{$keyshort}out svg {
    fill: rgba( $value,0.9);
  }

  .#{$keyshort}out:hover {
    border: 1px rgba( $value,0.9) solid;
    background-color: rgba( $value,0.9);
    color: $white-color;
  }

  .#{$keyshort}out:hover i, .#{$keyshort}out:hover svg {
    fill: $white-color;
  }



  .#{$keyshort}in {
    border: 1px $value solid;
    color: $white-color;
    background-color: rgba( $value,0.9);
  }

  .#{$keyshort}in i, .#{$keyshort}in svg {
    fill: $white-color;
  }

  .#{$keyshort}in:hover {
    background-color: rgba( $value,1);
  }





  .#{$keyshort}bg {
    background-color: $value;
  }

  .#{$keyshort}fill {
    fill: $value;
  }

  .#{$keyshort}fg {
    color: $value;
  }
}

$char-w: 1ch;
$gap: .5*$char-w;
$n-char: 10;



@for $i from 1 through $n-char {
  $in-w: $i*($char-w + $gap);

  input.splitted-#{$i} {
    display: block;
    margin: auto;
    border: none;
    padding: 0;
    width: $in-w;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey $char-w, transparent 0, transparent $char-w + $gap) 0 100%/ #{$in-w - $gap} 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: $gap;
    direction: ltr;

    &:focus {
      outline: none;
      color: dodgerblue;
    }
  }
}



.form-input {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  width: 100%;

  label {
    width: 200px;
    padding-left: 10px;
    text-align: end;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 2px solid #797979;

    &:focus + span {
      width: 100%;
    }
  }

  span:first-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #ff8203;
    transition: .5s;
  }

  div.wfg {
    padding-right: 20px;
    animation: fadeIn 0.5s ease-in-out;
  }

  div.dfg {
    color: red;
    padding-right: 20px;
    animation: fadeIn 0.5s ease-in-out;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 1);
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

.glass.withheader {
  padding: 0px;
}

.glass.withheader .glassheader {
  padding: 10px;
  font-size: larger;
  margin-bottom: 10px;
  background-color: #0000000f;
}

.glass.withheader .glassfooter {
  padding: 5px;
  font-size: larger;
  /*  margin-top: 10px;*/
  background-color: #0000000f;
}

.glass.withheader .glassbody {
  padding: 10px;
  text-align: justify;
}

@each $i in $colors {
  $keyshort: nth($i, 1);
  $key: nth($i,2);
  $value: nth($i, 3);

  .glass.withheader.#{$keyshort} .glassheader, .glass.withheader.#{$keyshort} .glassfooter {
    background: rgba($value, 0.5);
    color: $white-color;
  }
}



.glassheader {
  background-color: rgba( $danger-color, .3);
}

.glassfooter {
  background-color: rgba( $danger-color, .3);
}


.buttoncontainer .btn {
  width: 100%
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.indextitles {
  background-color: $secondary-color;
  border-radius: 20px 0px 20px 0px;
  font-size: large;
  color: $white-color;
  padding-left: 20px;
  margin-right: 10px;
  width: 300px;
  text-align: left;
}

.w100 {
  width: 100%;
}

.ant-table-tbody > tr > td, .ant-table-thead > tr > th {
  text-align: start !important
}
