 
.invoice {

  .highlight {
    font-weight: bold;
    padding-right: 10px;
  }

  .ant-table {
    background-color: transparent;
  }

  .ant-table th {
    background-color: transparent;
  }
  text-align: center;
  background-size: cover;
  padding: 5px;
}

.PostTypes {
  .glass {
    width: 300px;
    height: 100px;
  }

  .ant-radio-wrapper-checked {
    .glass {
      border: #14c11e 1px solid;
    }
  }
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

