.glass {
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 1);
  margin: 10px;
  padding: 10px;
}

.invoice {

  .highlight {
    font-weight: bold;
    padding-right: 10px;
  }

  .ant-table {
    background-color: transparent;
  }

  .ant-table th {
    background-color: transparent;
  }
  text-align: center;
  background-size: cover;
  padding: 5px;
}

.PostTypes {
  .glass {
    width: 300px;
    height: 100px;
  }

  .ant-radio-wrapper-checked {
    .glass {
      border: #14c11e 1px solid;
    }
  }
}
