<button class="btn "> درباره ما</button>
<button class="btn din"> درباره ما</button>
<button class="btn win"> درباره ما</button>
<button class="btn iin"> درباره ما</button>
<button class="btn sin"> درباره ما</button>
<button class="btn pin"> درباره ما</button>
<button class="btn ein">
  درباره ما
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
</button>

<button class=" btn dout"> درباره ما</button>
<button class=" btn wout"> درباره ما</button>
<button class=" btn iout"> درباره ما</button>
<button class=" btn sout"> درباره ما</button>
<button class=" btn pout"> درباره ما</button>
<button class=" btn eout">
  درباره ما
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
</button>
<button class="btn eout">
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
  درباره ما
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
</button>

<div style="width:500px">

  <div class="glass withheader">
    <div class="glassheader">
      <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
      </svg>
      ترافیک پرحجم در محور کرج ـ چالوس و آزادراه تهران ـ کرج/ کرج چالوس یک طرفه می شود
      1398/12/12
    </div>
    <div class="glassbody">
      <img src="../../assets/bg.jpg" style="width:70px;float:right;padding:5px" />
      علی زندی فر در گفت‌وگو با خبرنگار تسنیم در  کرج  در مورد آخرین وضعیت تردد در محورهای مواصلاتی استان البرز اظهار داشت: در حال حاضر ترافیک در  آزاد راه تهران - کرج - قزوین در حدفاصل گلشهر تا حصارک پرحجم است.
    </div>
    <div class="glassfooter" style="text-align:end">
      <button class="btn dout small">
        ادامه->
      </button>
    </div>
  </div>
</div>
<div style="width:500px">
  <div class="glass withheader d">
    <div class="glassheader ">
      <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
      </svg>
      روش پرداخت نقدی درب منزل
    </div>
    <div class="glassbody">
      در این روش پس از ثبت سفارش و تایید آن توسط فروشنده، مبلغ فاکتور پس از دریافت کالا توسط مشتری قابل پرداخت است.
    </div>
    <div class="glassfooter" style="text-align:end">
    </div>
  </div>
</div>
<div style="width:500px">
  <div class="glass withheader s">
    <div class="glassheader ">
      <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
      </svg>
      روش پرداخت نقدی درب منزل
    </div>
    <div class="glassbody">
      در این روش پس از ثبت سفارش و تایید آن توسط فروشنده، مبلغ فاکتور پس از دریافت کالا توسط مشتری قابل پرداخت است.
    </div>
    <div class="glassfooter" style="text-align:end">
    </div>
  </div>
</div>
<div class="indextitles">ویژگی های ما</div>

 nz-col [nzXs]="24" [nzSm]="12" [nzMd]="16" [nzLg]="16" [nzXl]="18" [nzXXl]="18"

<form>
  <div class="form-input">
    <input type="text" style="text-align: center;direction: ltr;" placeholder="شماره تماس خودرا وارد کنید">
  </div>
  <br />
  <br />
  <div class="wfg">
    شماره موبایل باید با 09 شروع شود
    و 11 رقم باشد
    مثل 09120000000
  </div>
  <div class="dfg">شماره موبایل معتبر نیست!</div>
  <div class="alet sin">
    شماره موبایل معتبر است!
    لطفا بر روی مرحله بعد کلیک کنید.
  </div>
  <div class="sbg">
    شماره موبایل معتبر است!
    لطفا بر روی مرحله بعد کلیک کنید.
  </div>

</form>
<button (click)="dis = !dis">{{dis}}</button>

<div modal [(display)]="dis">
  <!--<app-invoice *ngIf="selectedItem " [invoice]="selectedItem"></app-invoice>-->


  <div class="glass withheader s ">
    <div class="glassheader" style="margin:0">
      <div>
       Title
      </div>
      <span class="close">&times;</span>
    </div>
    <div class="glassbody" style="padding: 0px;">
      HI
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
      BYE
    </div>
  </div>
</div>
