<div style="width:80%;margin:auto">

  <div class="glass">
    <div style="width:80%;margin:auto">
      <img style="width:50px" src="../../../assets/front/logo.svg" />
      <button nz-button nzType="text" style="font-size:larger">  صفحه اصلی</button>
      <button nz-button nzType="text"> نحوه کار و کارمزد  </button>
      <button nz-button nzType="text"> تماس با ما</button>
      <button nz-button nzType="text"> درباره ما</button>
      <button nz-button nzType="text"   style="float: left; border-bottom: solid 2px #e13634">   ورود</button>
      <span style="float:left">/</span>
      <button nz-button nzType="text"   style="float: left; border-bottom: solid 2px #e13634">   پنل فروشندگان</button>
    </div>
  </div>


  <router-outlet></router-outlet>
</div>

