<div nz-row nzJustify="center">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20">
    <div class="glass" nz-row nzJustify="center">
      <div nz-col [nzXs]="0" [nzLg]="20">
        <span>SabadBan</span>
        <img style="width:50px" src="../../../assets/front/logo4colored.svg" />
        <ng-container *ngTemplateOutlet="menues"></ng-container>
      </div>
      <div nz-col [nzXs]="24" [nzLg]="0">
        <span>SabadBan</span>
        <img style="width:50px" src="../../../assets/front/logo4colored.svg" />
        <button nz-button nzType="text" (click)="showMenu=!showMenu"> |||   </button>
        <div *ngIf="showMenu" class="buttoncotainer">
          <ng-container *ngTemplateOutlet="menues"></ng-container>
        </div>
      </div>
    </div>

      
    <router-outlet></router-outlet>
    <div style="text-align:center">
      Made with <img src="./assets/heart.webp" style="width:25px" /> by MAHERNET team
    </div>
  </div>
</div>


<ng-template #menues>
  <button class="btn" [routerLink]="[prefixUrl('')]" style="font-size:larger">  صفحه اصلی</button>
  <button class="btn" [routerLink]="[prefixUrl('rules')]">مقررات و نحوه کار   </button>
  <button class="btn" [routerLink]="[prefixUrl('rules')]">فروشندگان  </button>
  <button class="btn" [routerLink]="[prefixUrl('news')]">  اخبار</button>
  <button class="btn" [routerLink]="[prefixUrl('article')]">  مقالات</button>
  <button class="btn" [routerLink]="[prefixUrl('about')]"  > درباره ما</button>
  <button class="btn din" style="margin:0px 10px"  [routerLink]="[prefixUrl('login')]">   ورود </button>
  <button class="btn eout" style="margin:0px 10px" [routerLink]="[prefixUrl('login')]" >   مشاهده فاکتور </button>
  <button class="btn" style="float: left; border-bottom: solid 2px #e13634" (click)="openInNewWindow('/management')">   پنل کاربری فروشندگان</button>
</ng-template>
