<div nz-row nzJustify="center">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20">
    <div class="glass  " style="overflow:inherit">
      <img style="width:50px;margin-left:50px;position:absolute" src="../../../assets/front/logo4colored.svg" />
      <div nz-row style="margin-right:100px">
        <div nz-col [nzXs]="0" [nzLg]="20">
          <!--<img style="width:50px" src="../../../assets/front/logo4colored.svg" />-->
          <button class="btn larger" [routerLink]="[prefixUrl('')]">سبدبان</button>
          <ng-container *ngTemplateOutlet="menues"></ng-container>
          <ng-container *ngTemplateOutlet="useraccount"></ng-container>

        </div>
        <div nz-col [nzXs]="24" [nzLg]="0">
          <!--<img style="width:50px" src="../../../assets/front/logo4colored.svg" />-->
          <button class="btn larger" [routerLink]="[prefixUrl('')]">سبدبان</button>
          <button class="btn dout" (click)="showMenu=!showMenu"> |||   </button>
          <div *ngIf="showMenu" class="buttoncotainer fade">
            <ng-container *ngTemplateOutlet="menues"></ng-container>
          </div>
          <ng-container *ngTemplateOutlet="useraccount"></ng-container>
        </div>
      </div>
    </div>


    <router-outlet></router-outlet>
    <!--position: fixed; bottom: 0px;max-width: inherit;-->
    <div style=" width: 100%; ">
      <div class="glass">
        <ul>
          <li>123</li>
          <li>123</li>
          <li>123</li>
          <li>123</li>
        </ul>
      </div>
      <div class="w100" style="text-align:center">
        Made with <img src="./assets/heart.webp" style="width:25px" /> by MAHERNET team
      </div>
    </div>
  </div>
</div>


<ng-template #useraccount>
  <button class="btn din" *ngIf="auth.isLoggedIn()" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    حساب کاربری
    <svg viewBox="0 0 24 24"> <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>1st menu item</li>
      <li nz-menu-item>2nd menu item</li>
      <li nz-menu-divider></li>
      <li nz-menu-item [routerLink]="[prefixUrl('vendee/profile')]"> پنل کاربری </li>
      <li nz-menu-item [routerLink]="[prefixUrl('vendee/invoices')]">   مشاهده فاکتورها </li>
      <li nz-menu-item [routerLink]="[prefixUrl('vendee/transactions')]">   مشاهده تراکنش ها </li>
      <li nz-menu-divider></li>
      <li nz-menu-item [routerLink]="[prefixUrl('login')]" nzDanger>خروج</li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
<ng-template #menues>
  <!--<button class="btn" [routerLink]="[prefixUrl('')]" style="font-size:larger">  صفحه اصلی</button>-->
  <button class="btn" [routerLink]="[prefixUrl('rules')]">مقررات و نحوه کار   </button>
  <button class="btn" [routerLink]="[prefixUrl('vendors')]">فروشندگان  </button>
  <button class="btn" [routerLink]="[prefixUrl('news')]">  اخبار</button>
  <button class="btn" [routerLink]="[prefixUrl('articles')]">  مقالات</button>
  <button class="btn" [routerLink]="[prefixUrl('designsystem')]" *ngIf="!environmentProduction">  designsystem</button>
  <!--<button class="btn" [routerLink]="[prefixUrl('about')]"> درباره ما</button>-->
  <!--<button class="btn" style="float: left; border-bottom: solid 2px #e13634" *ngIf="!auth.isLoggedIn()" (click)="openInNewWindow('/management')">   پنل کاربری فروشندگان</button>-->
  <button class="btn din" style="float: left; margin: 0px 10px" [routerLink]="[prefixUrl('login')]" *ngIf="!auth.isLoggedIn()">   ورود/مشاهده فاکتور </button>
</ng-template>
