<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6">
    <div class="glass">

      <button class="btn sout w100" [routerLink]="[prefixUrl('vendee')]">پروفایل</button>
      <button class="btn sin w100" [routerLink]="[prefixUrl('vendee/invoices')]">فاکتور ها</button>
      <button class="btn w100" [routerLink]="[prefixUrl('vendee/transactions')]">تراکنش ها</button>
      <button class="btn w100" [routerLink]="[prefixUrl('vendee/addresses')]">آدرس ها</button>
      <button class="btn w100" [routerLink]="[prefixUrl('vendee/addresses')]">شماره کارت و شبا</button>
    </div>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="18">
    <div class="glass">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
