<button class="btn iin" (click)="refresh()">
  به روزرسانی
  <svg viewBox="0 0 24 24" [innerHTML]="icons.refresh">
  </svg>
</button>

<nz-table #basicTable nzTableLayout="fixed" [nzData]="list">
  <thead>
    <tr>
      <th>شماره فاکتور</th>
      <th>فروشنده</th>
      <th>مبلغ کل فاکتور</th>
      <th>تاریخ ثبت   </th>
      <th>تاریخ پرداخت   </th>
      <th>وضعیت   </th>
      <th>عملیات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td>{{item.Id}}</td>
      <td>{{item.VendorTitle}}</td>
      <td>{{item.Price | number}}</td>
      <td>{{item.Create }}</td>
      <td>{{item.Paid }} </td>
      <td>{{item.InvoiceState}}</td>
      <td>
        <button class="btn sout" (click)="selectedItem=item; dis = true">مشاهده فاکتور</button>
        <button class="btn sin"> پرداخت</button>
      </td>
    </tr>
  </tbody>
</nz-table>


<button (click)="dis = !dis">{{dis}}</button>

<div modal [(display)]="dis">
  <!--<app-invoice *ngIf="selectedItem " [invoice]="selectedItem"></app-invoice>-->


  <div class="glass withheader p">
    <div class="glassheader" style="margin:0">
      <div>
        <span style="font-size:medium">          شماره فاکتور:        </span>
        <span>  {{selectedItem?.Id}} </span>
        /
        <span style="font-size:medium">           وضعیت فاکتور:        </span>
        <span>  {{selectedItem?.InvoiceState}} </span>
        /
        <span style="font-size:medium">           نوع فاکتور:        </span>
        <span>  {{selectedItem?.PostType}} </span>
        <button class="btn sin"> پرداخت</button>
      </div>
      <span class="close">&times;</span>
    </div>
    <div class="glassbody" style="padding: 0px;">

      <nz-table *ngIf="selectedItem" #basicTable nzTableLayout="fixed" [nzFrontPagination]="false" [nzData]="selectedItem.InvoiceDetails">
        <thead>
          <tr>
            <th>نام</th>
            <th>توضیحات</th>
            <th>قیمت</th>
            <th>تعداد</th>
            <th>تخفیف</th>
            <th>قیمت کل</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of basicTable.data">
            <td>{{item.Title}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Price}}</td>
            <td>{{item.Count | number}}</td>
            <td>{{item.Discount }}</td>
            <td>{{((item.Count * item.Price)-item.Discount)| number}}</td>
          </tr>


          <tr>
            <td colspan="5">
              {{selectedItem.PostType}}
              هزینه ارسال
            </td>
            <td>
              {{selectedItem.PostCost | number}}
            </td>
          </tr>
          <tr>
            <td colspan="4">
              تخفیف روی کل فاکتور
            </td>
            <td>
              {{selectedItem.Discount | number}}
            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="4">
              جمع
            </td>
            <td>
              {{selectedItem.InvoiceDetailsDiscount| number}}
            </td>
            <td>
              {{selectedItem.InvoiceDetailsPrice| number}}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              قابل پرداخت
            </td>
            <td>
              <button class="din larger">
                {{selectedItem.Price| number}}
              </button>
            </td>
          </tr>


        </tbody>
      </nz-table>

    </div>
  </div>
</div>
