<button class="btn "> درباره ما</button>
<button class="btn din"> درباره ما</button>
<button class="btn win"> درباره ما</button>
<button class="btn iin"> درباره ما</button>
<button class="btn sin"> درباره ما</button>
<button class="btn pin"> درباره ما</button>
<button class="btn ein">
  درباره ما
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
</button>

<button class=" btn dout"> درباره ما</button>
<button class=" btn wout"> درباره ما</button>
<button class=" btn iout"> درباره ما</button>
<button class=" btn sout"> درباره ما</button>
<button class=" btn pout"> درباره ما</button>
<button class=" btn eout">
  درباره ما
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
</button>
<button class="btn eout">
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
  درباره ما
  <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
  </svg>
</button>

<div style="width:500px">

  <div class="glass withheader">
    <div class="glassheader">
      <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
      </svg>
      ترافیک پرحجم در محور کرج ـ چالوس و آزادراه تهران ـ کرج/ کرج چالوس یک طرفه می شود
        1398/12/12
    </div>
    <div class="glassbody">
      <img src="../../assets/bg.jpg" style="width:70px;float:right;padding:5px" />
      علی زندی فر در گفت‌وگو با خبرنگار تسنیم در  کرج  در مورد آخرین وضعیت تردد در محورهای مواصلاتی استان البرز اظهار داشت: در حال حاضر ترافیک در  آزاد راه تهران - کرج - قزوین در حدفاصل گلشهر تا حصارک پرحجم است.
    </div>
    <div class="glassfooter" style="text-align:end">
      <button class="dout small" >
        ادامه->
      </button>
    </div>
  </div>
</div>
<div style="width:500px">
  <div class="glass withheader d">
    <div class="glassheader ">
      <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
      </svg>
      روش پرداخت نقدی درب منزل
    </div>
    <div class="glassbody">
      در این روش پس از ثبت سفارش و تایید آن توسط فروشنده، مبلغ فاکتور پس از دریافت کالا توسط مشتری قابل پرداخت است.
    </div>
    <div class="glassfooter" style="text-align:end">
    </div>
  </div>
</div>
<div style="width:500px">
  <div class="glass withheader s">
    <div class="glassheader ">
      <svg viewBox="0 0 24 24" [innerHTML]="tempIcon">
      </svg>
      روش پرداخت نقدی درب منزل
    </div>
    <div class="glassbody">
      در این روش پس از ثبت سفارش و تایید آن توسط فروشنده، مبلغ فاکتور پس از دریافت کالا توسط مشتری قابل پرداخت است.
    </div>
    <div class="glassfooter" style="text-align:end">
    </div>
  </div>
</div>
<div class="indextitles">ویژگی های ما</div>
