<div class="glass withheader">
  <div class="glassheader">ورود</div>
  <div class="glassbody" nz-row nzJustify="center">
    <div nz-col [nzXs]="24" [nzSm]="20" [nzMd]="16" [nzLg]="10" [nzXl]="8" [nzXXl]="8">
      <br />
      <br />
      <nz-spin [nzSpinning]="isLoading">
        <form [formGroup]="phoneForm" *ngIf="level == 1" style=" animation: fadeIn 0.5s ease-in-out;">
          <div class="form-input">
            <input type="text" formControlName="PhoneNumber" style="text-align: center;direction: ltr;" placeholder="شماره تماس خودرا وارد کنید">
 <br />
 <br />

            <div *ngIf="phoneForm.controls['PhoneNumber'].invalid" class="wfg">
              شماره موبایل باید با 09 شروع شود
              و 11 رقم باشد
              مثل 09120000000
            </div>
            <div *ngIf="phoneForm.controls['PhoneNumber'].touched && phoneForm.controls['PhoneNumber'].invalid" class="dfg">شماره موبایل معتبر نیست!</div>
            <div *ngIf="!phoneForm.controls['PhoneNumber'].invalid" class="sfg">
              شماره موبایل معتبر است!
              لطفا بر روی مرحله بعد کلیک کنید.
            </div>
          </div>
        </form>



        <form [formGroup]="smsForm" *ngIf="level == 2">
          <div *ngIf="!phoneForm.controls['PhoneNumber'].invalid" class="sfg">
            کد اعتبار سنجی 5 رقمی به شماره تماس
            {{smsForm.controls['PhoneNumber'].value}}
            ارسال شده است.
            <br />
            لطفا عبارت ارسال شده را وارد نمایید.
          </div>


          <input formCOntrolName="SMSCode" class="splitted-5" maxlength='5' style=" animation: fadeIn 0.5s ease-in-out;" />
          <br />
          <br />

          <div class="wfg" *ngIf="timer.countDown !=0">
            {{timer.min }}:{{timer.sec}}
          </div>
          <div class="wfg" *ngIf="timer.countDown ==0">
            با کلیک بر روی مرحله قبل، مجددا تلاش کنید.
          </div>
          <div class="dfg">asdas</div>
        </form>
         
      </nz-spin> 
    </div>
  </div>
  <div class="glassfooter" style="text-align:center">
    <button *ngIf="back" class="wout" (click)="level=level-1">   بازگشت</button>
    <button *ngIf="next" class="sin" (click)="goToNext()">  گام بعد</button>
  </div>
</div>
