<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6">
    <div class="glass">
      <button class="btn w100" [class.sin]="ds.selectedMenu === 0"  [routerLink]="['/vendee/profile']">پروفایل</button>
      <button class="btn w100" [class.sin]="ds.selectedMenu === 1"  [routerLink]="['/vendee/invoices']">فاکتور ها</button>
      <button class="btn w100" [class.sin]="ds.selectedMenu === 2"  [routerLink]="['/vendee/transactions']">تراکنش ها</button>
      <button class="btn w100" [class.sin]="ds.selectedMenu === 3"  [routerLink]="['/vendee/addresses']">آدرس ها</button>
      <button class="btn w100" [class.sin]="ds.selectedMenu === 4"  [routerLink]="['/vendee/cards']">شماره کارت و شبا</button>
      <button class="btn w100" [class.sin]="ds.selectedMenu === 5"  [routerLink]="['/vendee/tickets']">تیکت های پشتیبانی</button>
    </div>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="18">
    <div class="glass">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
