
<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" class="form-input">
    <label>نام:</label>
    <input type="text" placeholder="">
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" class="form-input">
    <label>نام خانوادگی:</label>
    <input type="text" placeholder="">
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" class="form-input">
    <label>کد ملی:</label>
    <input type="text" placeholder="">
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" class="form-input">
    <label>شماره تماس:</label>
    <input type="text" disabled placeholder="" value="09126200435">
  </div>

</div>
